extends layout

block content
  h1= title
  p Bienvenue à #[em MaBiliDeQuartier], un site internet très simple développé avec Express comme TP Node chez Popschool.

  h1 Contenu dynamique

  p La bibliothèque a les enregistrements suivants :
    
  ul
    li #[strong Livres :] !{data.book_count}
    li #[strong Exemplaires :] !{data.book_instance_count}
    li #[strong Exemplaires disponibles :] !{data.book_instance_available_count} 
    li #[strong Auteurs :] !{data.author_count}
    li #[strong Genres :] !{data.genre_count}